<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.cfp.mapper.RoomMapper">

    <insert id="insert"
            useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into rooms (name, event_id)
        values (#{name}, #{event})
    </insert>

    <select id="findByEvent" resultType="io.cfp.model.Room">
        SELECT * FROM rooms WHERE event_id = #{eventId}
    </select>

    <update id="updateForEvent">
        UPDATE rooms SET
        name = #{it.name}
        WHERE id = #{it.id} and event_id = #{eventId}
    </update>

    <delete id="deleteForEvent">
        DELETE FROM rooms WHERE id = #{id} and event_id = #{eventId}
    </delete>

</mapper>
