<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.cfp.mapper.ThemeMapper">

    <insert id="insert"
            useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into tracks (libelle, description, color, event_id)
        values (#{libelle}, #{description}, #{color}, #{event})
    </insert>

    <select id="findByEvent" resultType="io.cfp.model.Theme">
        SELECT * FROM tracks WHERE event_id = #{eventId}
    </select>

    <select id="countProposalsByTheme" resultType="io.cfp.model.Stat">
        SELECT
            t.libelle as name,
            COUNT(p.id) as count
        FROM tracks t
        LEFT OUTER JOIN proposals p on t.id = p.track
        WHERE t.event_id = #{eventId} GROUP BY t.libelle
    </select>

    <update id="updateForEvent">
        UPDATE tracks SET
        libelle = #{it.libelle},
        description = #{it.description},
        color = #{it.color}
        WHERE id = #{it.id} and event_id = #{eventId}
    </update>

    <update id="updateEventId">
        UPDATE tracks SET
        event_id = #{eventId},
        WHERE id = #{it.id}
    </update>

    <delete id="deleteForEvent" >
        DELETE FROM tracks WHERE id = #{id} and event_id = #{eventId}
    </delete>

</mapper>
